<%= form_with(model: @reservation, local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-6">
  <div class="row">

    <div class="well well-lg">
      <div class="field">
        <%= form.hidden_field :user_id, id: :reservation_user_id, value: current_user.id  %>
      </div>

      <div class="form-group">
      <%= form.label :reservation_year_month_day, "When would you like to reserve the room?" %>
      <div class='input-group date' id='datetimepicker1'>

                         <%= form.text_field :reservation_year_month_day, class: "form-control" %>
                         <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                         </span>
                     </div>

          <script type="text/javascript">
             $(function () {
             $('#datetimepicker1').datetimepicker({
               viewMode: 'days',
               format: 'YYYY/MM/DD',
               minDate: '02/20/2018'
             });
           });
          </script>
      </div>

    </div>

      <div class="form-group well well-lg">
        <div class="field">
          <%= form.label :start_date_hour, "Start Time:" %>
          <div class='input-group date' id="datetimepicker2">
          <%= form.text_field :reservation_start_date_hour, class: "form-control" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>

          <script type="text/javascript">
            $(function () {
            $('#datetimepicker2').datetimepicker({
              format: 'LT'
              });
            });
          </script>
        </div>
      </div>

      <div class="form-group well well-lg">
        <div class="field">
          <%= form.label :end_date_hour, "End Time:"%>
            <div class='input-group date' id='datetimepicker3'>
               <%= form.text_field :reservation_end_date_hour, class: "form-control"%>
                 <span class="input-group-addon">
                     <span class="glyphicon glyphicon-time"></span>
                 </span>
            </div>

          <script type="text/javascript">
             $(function () {
             $('#datetimepicker3').datetimepicker({
               format: 'LT'
             });
           });
          </script>
        </div>
      </div>



      <div class="form-group well well-lg">
        <%= form.label :room_id, "What room would you like to reserve?" %>
        <%= form.select(:room_id, @rooms.collect{ |c| [c.name, c.id]}, {include_blank: "Select Room"}, class: "form-control", required: true) %>
      </div>


      <div>
        <%= form.submit class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>