<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room.name %>
</p>

<p>
  <strong>Start date hour:</strong>
  <%= @reservation.start_date_hour %>
</p>

<p>
  <strong>End date hour:</strong>
  <%= @reservation.end_date_hour %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.year_month_day %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
