<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time slot</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.time_slot %></td>
        <td><%= room.user_id %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>


<div class="container"><!-- =======================start CONTAINER ====================== -->

  <!-- <div class="row col-md-3">  </div>

  <div class="row col-md-6">

    <div class='well well-lg'>
    <h3 class="page-heading">Reserve a Room:</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

            <script type="text/javascript">
               $(function () {
               $('#datetimepicker1').datetimepicker({
                 viewMode: 'days',
                 format: 'MM/DD/YYYY'
               });
             });
            </script>
          </div>
          </div>
        </div>
      </div>

      <div class="well well-lg">
        <h4>Start Time: </h4>
        <div class="container">
          <div class="row">
            <div class='col-sm-3'>
              <div class="form-group">
                <div class='input-group date' id="datetimepicker2">
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
              <script type="text/javascript">
              $(function () {
                  $('#datetimepicker2').datetimepicker({
                      format: 'LT'
                  });
              });
              </script>
            </div>
          </div>
        </div>


        <h4>End Time: </h4>
        <div class="container">
          <div class="row">
            <div class='col-sm-3'>
              <div class="form-group">
                <div class='input-group date' id="datetimepicker3">
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
                <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker3').datetimepicker({
                          format: 'LT'
                      });
                  });
                </script>
            </div>
          </div>
        </div>
      </div>

  <!-- $('#datetimepicker1').datetimepicker({
      format: 'HH:mm:ss',
      defaultDate: moment('11:12:02', 'HH:mm:ss'),
      minDate: moment('11:12:02', 'HH:mm:ss'),
      maxDate: moment('11:30:20', 'HH:mm:ss'),
      keepInvalid: true
  }); -->



  <div class="row col-md-3">
    </div>
    <canvas id="myCanvas">
    	</canvas>
  </div>
</div>
